html, body {
    font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
    color: white !important;
    min-height: 100vh;
    background-attachment: fixed;
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

body {
    margin: 0;
}